<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="newsApp" ng-controller="newsController">

    <ion-pane>
      <ion-header-bar class="bar-dark">
        <h1 class="title">Newspaper</h1>
      </ion-header-bar>
      <ion-content>
        <section class="list">
          <article class="item" ng-repeat="newsArticle in news track by $index">
            <a href="{{newsArticle.link}}" class="item item-avatar-left" ng-if="newsArticle.title">
            <img ng-src="{{newsArticle.image}}">
            <h2 class="noWhiteSpace">{{newsArticle.title}}</h2>
            <p class="noWhiteSpace">{{newsArticle.content}}</p>
            <p>- Posted on {{newsArticle.date}} {{newsArticle.time}}</p>
          </a>
          </article>
        </section>
        <ion-infinite-scroll
          on-infinite="loadMore()"
          distance="1%">
        </ion-infinte-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>
